In [37]:
# https://oeis.org/A051254
# https://oeis.org/A051254/a051254.txt

In [38]:
import pandas as pd
import sys

In [39]:
# Mills' constant A generates a sequence of primes via b(n)= floor(A^3^n). This sequence is a(n) = b(n+1)-b(n)^3.
# https://oeis.org/A108739
A108739 = [3, 30, 6, 80, 12, 450, 894, 3636, 70756, 97220, 66768, 300840, 1623568, 8436308]
table = [
    {
        "n": 1,
        "prime": 2
    }
]

In [40]:
def calc_prime(bn, c=3, a1=2):
    '''
    Calculates the prime number based on the sequence form described in OEIS A108739

    Parameters
    ----------
    bn list
        A list of integers according to the sequence form.
    c int
        From the form A^(c^n) this is the exponent.
        It's required that c >= 2.106 according to Caldwell and Cheng (see references).
    a1 int
        The first integer in the sequence according to Mill's constant.
    
    Returns
    int
        The calculated prime number based on Mills constant
    
    References
    ----------
    - https://cs.uwaterloo.ca/journals/JIS/VOL8/Caldwell/caldwell78.pdf
    '''
    stack = bn.copy()
    result = a1
    while (len(stack)>0):
        extension = stack.pop(0)
        result = result**c + extension
    return result

In [41]:
for i in range(len(A108739)):
    table.append(
        {
            "n": i + 2,
            "prime": calc_prime(A108739[:(i + 1)])
        }
    )
    print(f"Done calculating Mills' prime #{i + 2}")

Done calculating Mills' prime #2
Done calculating Mills' prime #3
Done calculating Mills' prime #4
Done calculating Mills' prime #5
Done calculating Mills' prime #6
Done calculating Mills' prime #7
Done calculating Mills' prime #8
Done calculating Mills' prime #9
Done calculating Mills' prime #10
Done calculating Mills' prime #11
Done calculating Mills' prime #12
Done calculating Mills' prime #13
Done calculating Mills' prime #14
Done calculating Mills' prime #15

In [42]:
sys.set_int_max_str_digits(2000000)
df = pd.DataFrame(table)
df

     n                                              prime
0    1                                                  2
1    2                                                 11
2    3                                               1361
3    4                                         2521008887
4    5                      16022236204009818131831320183
5    6  4113101149215104800030529537915953170486139623...
6    7  6958380437696274160853927657353859286483591739...
7    8  3369182281957407422773077533659194647247359804...
8    9  3824489953352034294972640344911957130365187379...
9   10  5593975670634414895248496318157387882562423303...
10  11  1750498405893918377935768696366302826874878687...
11  12  5363955408418467561465407455570619545158274170...
12  13  1543318195426935639871048377114487423376715038...
13  14  3675923201502807915885564230021574743733360390...
14  15  4967058651229461407904920865461574494922819481...

In [43]:
df.to_csv('mills-primes.csv', index=False)

In [44]:
df_test = pd.read_csv('mills-primes.csv')
df_test

     n                                              prime
0    1                                                  2
1    2                                                 11
2    3                                               1361
3    4                                         2521008887
4    5                      16022236204009818131831320183
5    6  4113101149215104800030529537915953170486139623...
6    7  6958380437696274160853927657353859286483591739...
7    8  3369182281957407422773077533659194647247359804...
8    9  3824489953352034294972640344911957130365187379...
9   10  5593975670634414895248496318157387882562423303...
10  11  1750498405893918377935768696366302826874878687...
11  12  5363955408418467561465407455570619545158274170...
12  13  1543318195426935639871048377114487423376715038...
13  14  3675923201502807915885564230021574743733360390...
14  15  4967058651229461407904920865461574494922819481...